---
import Header from "@components/Header.astro";
import "../fonts.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  html {
    scroll-behavior: smooth;
  }
  :root {
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #e63b7a;
    --secondary-color: #f0719f;

    --body-bg: #fafafa;
    --text-color: var(--black-color);
    --section-color: #f8f1f1;
    --section-shadow-color: rgba(219, 219, 219, 0.7);
    color: var(--black-color);
    svg {
      stroke: var(--primary-color);
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --body-bg: #212529;
      --text-color: var(--white-color);
      --section-color: #282a2b;
      --section-shadow-color: rgba(40, 42, 43, 0.7);
      color: var(--white-color);
    }
  }
  html {
    font-family: Montserrat;
    background: var(--body-bg);
  }

  body {
    margin: 0 40px 0 40px;

    @media (max-width: 600px) {
      margin: 0 20px 20px 20px;
    }
  }

  main {
    display: grid;
    gap: 30px;
  }
</style>
